#search-box {
  margin-left: 20px;
  margin-top: 10px;
}

.country-list {
  margin-left: 20px;
}

.listCoutry-name {
  margin-left: 10px;
  font-size: 20px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 5px;
}
